[Service]
ExecStart=/usr/bin/ollama serve
ExecStartPre=/usr/bin/nvidia-modprobe -u -c=0
User=ollama
Group=ollama
Restart=always
RestartSec=3

Environment="OLLAMA_HOST=0.0.0.0:11434"

PrivateDevices=false
ProtectSystem=false
DeviceAllow=/dev/nvidiactl rwm
DeviceAllow=/dev/nvidia-uvm rwm
DeviceAllow=/dev/nvidia0 rwm

