[Unit]
Description=Ollama Service
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
User=ollama
Group=ollama
Restart=always
RestartSec=3
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/cuda/bin"
Environment="OLLAMA_FLASH_ATTENTION=1"

[Install]
WantedBy=default.target
